
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6c757d, #007bff);
    color: white;
  }
  
 
  .login-card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  

  .p-message {
    font-size: 0.9rem;
    text-align: center;
  }
  